<div class="my-10 mx-auto text-center">
    <h2 class="">Our Sponsors</h2>
    <a class="w-full md:w-1/3 inline-block mx-auto" href="https://www.octoberswimmer.com/" target="_blank" rel="noopener">
        {% image "images/sponsors/october-swimmer.png", "October Swimmer logo" %}
    </a>
</div>
<footer id="footer" class="footer bg-gray-100">
    <div class="footer-inner container m-auto md:flex justify-between items-center px-6 py-10">
        <p class="pb-8 md:pb-0">© {% year %} {{site.name}}.</p>
        {% include 'components/social-icons.njk' %}
    </div>
</footer>