<div class="my-10 mx-auto text-center px-2">
    <h2>Our Sponsors</h2>
    {# Edit these in site/globals/sponsors.json #}
    {# Add images to images/sponsors/ #}
    <div class="flex flex-col md:flex-row flex-wrap gap-5">
        {% for item in sponsors.main %}
        <a class="max-w-sm inline-block mx-auto dark:bg-gray-200 rounded-xl p-3" href="{{ item.url }}" target="_blank" rel="noopener">
            {% set img = "images/sponsors/" + item.image %}
            {% set alt = item.name + " " + "logo" | escape %}
            {% image img, alt %}
        </a>
        {% endfor %}
    </div>
</div>
<footer id="footer" class="footer bg-gray-100 dark:bg-gray-700">
    <div class="footer-inner container m-auto md:flex justify-between items-center px-6 py-10">
        <p class="pb-8 md:pb-0">© {% year %} {{site.name}}.</p>
        {% include 'components/social-icons.njk' %}
    </div>
</footer>