<nav id="nav" class="nav flex mt-5">
    <ul class="menu flex flex-wrap items-center justify-center list-reset gap-x-2 gap-y-5">
        {% for item in navigation.main %}
        <li class="level-1 md:mr-4 mb-0">
            <a href="{{ item.url | safe }}" class="link py-2 px-4 rounded-lg border-2 font-bold hover:text-brand-primary hover:border-brand-primary active:text-brand-primary {% if page.url == item.url %}active text-brand-primary border-brand-primary{% endif %}
            " {% if page.url==item.url %} aria-current="page" {% endif %} {{ item.attr }}>{{ item.label }}</a>
        </li>
        {% endfor %}
        <li class="hidden md:block">
            {% include 'components/ctabutton.njk' %}
        </li>
        <li class="md:hidden">
            <a class="py-2 px-4 rounded-lg border-brand-primary border-2 bg-brand-primary text-white font-bold" href="/install/">Install</a>
        </li>
    </ul>
</nav>