---
title: Docs
layout: page
eleventyExcludeFromCollections: true
---
<div class="flex flex-col">
    {% for docs in collections.docs %}
    <a href="{{ docs.url }}">{{ docs.data.title }}</a>
    {% endfor %}
</div>