---
layout: default
meta_title: VD+
meta_description: VisiData+
title: VD+
---
<main id="main" class="main inner flex flex-1 flex-col py-10 lg:py-20 focus:outline-none" tabindex="-1">
    <section id="container-wide" class="md:py-10 px-4 grid grid-cols-1 md:grid-cols-2 gap-10 place-items-center" aria-label="Hero">
        <div class="p-4">
            <h1 class="md:text-5xl">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam sapiente aut soluta! Unde voluptate eveniet, commodi id dolorum cumque amet nesciunt deserunt, quidem, voluptates, illo fuga ex enim molestiae accusantium.</p>
            {% include 'components/ctabutton.njk' %}
            <a href="/docs/" class="button button-outline ml-5">Docs</a>
        </div>
        <div class="rounded-2xl bg-gray-100 dark:bg-gray-700 p-4">
            {% image "images/vdlogo.png", "Screenshot of a map in VisiData" %}
        </div>
    </section>
</main>