---
permalink: '/index.json'
---
[
    {% for item in collections.docs %}
      {
        "title": "{{ item.data.eleventyNavigation.key }}",
        "url": "{{ item.url }}",
        "content": "{{ item.templateContent | squash }}"
      }{% if not loop.last %},{% endif %}
    {% endfor %}
]