---
layout: page
---
<form action="https://www.google.com/search" method="get" class="search">
    <input type="hidden" name="q" id="q" value="site:http://hawksworx.com">
    <p><label for="search-str">Search <small>(results displayed on Google's site)</small></label>
        <input type="text" name="q" id="search-str"></p>
    <p><button type="submit" class="submit">Search with Google</button></p>
</form>