---
permalink: '/searchindex.json'
---
{
  "search": [
    {% for item in collections.docs %}
      {
        "title": "{{ item.data.eleventyNavigation.key }}",
        "url": "{{ item.url }}",
        "text": "{{ item.templateContent | safe }}"
      }{% if not loop.last %},{% endif %}
    {% endfor %}
  ]
}
