@tailwind base;

@tailwind components;

@tailwind utilities;

/* Colors */

p a {
  @apply border-gray-300;
}
code {
  @apply bg-gray-300 px-1;
}

/* Some defaults for styling.  */

h1 {
  @apply text-4xl;
}
h2 {
  @apply text-2xl;
}
h1, h2, h3 {
  @apply font-black;
  font-family: "Inconsolata", sans-serif;
}
h1, h2, p {
  @apply mb-4;
}
section a, footer p a {
  @apply border-b-2;
}
main ul {
  @apply mb-8 list-disc pl-5;
}
code {
  @apply rounded whitespace-pre-line break-all;
}
a {
  @apply transition duration-300 ease-in-out;
}
.nav a, .mobile-nav a {
  font-family: "Inconsolata", sans-serif;
}
.font-brand {
  font-family: "Inconsolata", sans-serif;
}
#container {
 @apply max-w-4xl px-4 mx-auto;
}
#container-wide {
  @apply max-w-6xl px-4 mx-auto;
}
.button {
  @apply border-none mt-5 md:mt-0 inline-block rounded-xl py-3 px-8 font-bold bg-brand-primary hover:scale-110 text-white transition duration-300 ease-in-out transform hover:shadow-md;
  font-family: "Inconsolata", sans-serif;
}
.button-outline {
  @apply bg-white border-4 border-solid border-brand-primary text-brand-primary py-2;
}

.google-maps {
  position: relative;
  padding-bottom: 42%;
  height: 0;
  overflow: hidden;
  }
  @media (max-width: 768px) {
  .google-maps {
  padding-bottom: 75%;
  }
  }
  .google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  }
