@tailwind base;

@tailwind components;

@tailwind utilities;

/* Colors */

p a, article a {
  @apply border-brand-primary border-b-2;
}

article a {
  @apply border-brand-primary border-b-2;
}

/* Some defaults for styling.  */

h1 {
  @apply text-4xl;
}
h2 {
  @apply text-3xl;
}
h3 {
  @apply text-2xl;
}
h4, h5, h6 {
  @apply text-xl;
}
h1, h2, h3, h4, h5, h6 {
  @apply font-black;
  font-family: "Inconsolata", monospace;
  @apply my-4;
}
p {
  @apply mb-4;
}
ul, ol {
  @apply list-inside;
}
li ul {
  @apply list-inside;
  list-style-type: circle;
}
aside ul {
  list-style-type: none;
}
section a, footer p a {
  @apply border-b-2;
}
:where(article, main) :is(ul, ol) {
  @apply mb-4 ml-4;
}
:where(article, main) ul {
  @apply list-disc;
}
:where(article, main) ol {
  @apply list-decimal;
}
:where(article, main) li {
  @apply my-2 ml-2;
}
a {
  @apply transition duration-300 ease-in-out;
}
.docs h2 a {
  @apply border-none;
}
h2 a {
  @apply border-b-2 border-brand-primary;
}
/* Add a fancy marker for heading anchors, but only on 
Markdown auto anchors and the first link in an H2 heading. */
.heading-anchor::before, h2 a:first-of-type::before {
  content: "#";
  @apply mr-2 opacity-50 no-underline;
}
.heading-anchor {
  @apply border-none;
}
.nav a, .mobile-nav a {
  font-family: "Inconsolata", monospace;
}
.font-brand {
  font-family: "Inconsolata", monospace;
}
#container {
 @apply max-w-4xl px-4 mx-auto;
}
#container-wide {
  @apply max-w-7xl px-2 mx-auto;
}
.button {
  @apply dark:text-gray-900 mt-5 md:mt-0 inline-block rounded-xl py-3 px-8 font-bold bg-brand-primary hover:scale-105 transition duration-150 ease-in-out hover:shadow border-2 border-brand-border;
  font-family: "Inconsolata", sans-serif;
}
.button-outline {
  @apply bg-transparent border-2 border-solid border-brand-primary dark:text-white;
}
.patreon {
  background-color: #ff424d;
  color: white;
  border-color: #d5343e;
}
/*Prism code styling*/
code[class*="language-"],
pre[class*="language-"] {
  color: #000;
  background: 0 0;
  text-shadow: 0 1px #fff;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
code[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
pre[class*="language-"]::-moz-selection {
  text-shadow: none;
  background: #b3d4fc;
}
code[class*="language-"] ::selection,
code[class*="language-"]::selection,
pre[class*="language-"] ::selection,
pre[class*="language-"]::selection {
  text-shadow: none;
  background: #b3d4fc;
}
@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}
pre[class*="language-"] {
  padding: 1em;
  overflow: auto;
}
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #f5f2f0;
}
:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}
.token.cdata,
.token.comment,
.token.doctype,
.token.prolog {
  color: #708090;
}
.token.punctuation {
  color: #999;
}
.token.namespace {
  opacity: 0.7;
}
.token.boolean,
.token.constant,
.token.deleted,
.token.number,
.token.property,
.token.symbol,
.token.tag {
  color: #905;
}
.token.attr-name,
.token.builtin,
.token.char,
.token.inserted,
.token.selector,
.token.string {
  color: #690;
}
.language-css .token.string,
.style .token.string,
.token.entity,
.token.operator,
.token.url {
  color: #9a6e3a;
  background: hsla(0, 0%, 100%, 0.5);
}
.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a;
}
.token.class-name,
.token.function {
  color: #dd4a68;
}
.token.important,
.token.regex,
.token.variable {
  color: #e90;
}
.token.bold,
.token.important {
  font-weight: 700;
}
.token.italic {
  font-style: italic;
}
.token.entity {
  cursor: help;
}

/* Table styling */
table {
  border-collapse: separate;
  border-spacing: 3px;
  border: solid #87afd7;
  border-width: 3px;
  overflow-x: scroll;
  width: 100%;
  @apply font-mono;
}

td,
th {
  padding-left: 15px;
  padding-right: 15px;
  box-shadow: 1px 0 0 white,
    2px 0 0 #1e1e1e;
  line-height: 1;
  white-space: nowrap;
}

td:last-child,
th:last-child {
  box-shadow: none;
  border-right: 3px double #bfbfbf;
  width: 100%;
}

th {
  text-align: left;
  border-bottom: 1px solid;
  padding-top: 5px;
}

td {
  padding-top: 3px;
  padding-bottom: 3px;
}
td a {
  border-bottom: 1px solid;
  @apply border-brand-primary;
}

tbody tr:nth-child(odd) {
  background: #eee;
}

tr:hover,
tbody tr:nth-child(odd):hover {
  background: #1e1e1e;
  color: white;
}
tr:hover code {
  @apply text-gray-800;
}

td:hover,
th:hover {
  font-weight: bold;
  border-color: #1e1e1e;
}

@media (prefers-color-scheme: dark) {
  table {
    color: #bfbfbf;
  }

  tbody tr:nth-child(odd) {
    background: #303030;
  }

  tr:hover,
  tbody tr:nth-child(odd):hover {
    background: #bfbfbf;
    color: #1e1e1e;
  }

  tr:hover td,
  tr:hover th {
    box-shadow: 1px 0 0 #bfbfbf,
      2px 0 0 #1e1e1e;
    border-color: #1e1e1e;
  }

  td,
  th {
    box-shadow: 1px 0 0 #1e1e1e,
      2px 0 0 #bfbfbf;
  }
}

code {
  padding: 1px 2px;
  @apply rounded-sm whitespace-pre select-all;
}
pre  {
  @apply rounded p-3 my-5 overflow-x-scroll;
}
pre, code {
   @apply bg-gray-200 dark:text-gray-900;
}
.content p, .content pre {
    @apply md:ml-6;
}
.social_links a {
  @apply p-2 bg-white dark:bg-gray-900 border-none block rounded-lg my-3;
}
.social_links a:hover {
  @apply bg-brand-primary dark:text-gray-900;
}
.social_links p {
  margin-bottom: 0;
}

main iframe {
  margin: auto auto;
}

@layer components {
    .post img {
        width: 90%;
        margin: auto;
        margin-top: 3em;
        margin-bottom: 3em;
    }
}

hr.footnotes-sep {
    border-top-width: .4em;
}
